<!DOCTYPE html>
<html lang = "en">
   <head></head>
   <body>

      <table>
         <thead>
            <tr>
               <th>Title</th>
               <th>Director</th>
               <th>Airing Date</th>
               <th>Country</th>
               <th>Adult</th>
               <th>American</th>
               <th>Streaming Service</th>
               <th>Duration</th>
            </tr>
         </thead>

         <tbody>
            {% for film in films %}
               <tr>
                  <td>{{ film.title }}</td>
                  <td>{{ film.director }}</td>
                  <td>{{ film.airing_date }}</td>
                  <td>{{ film.country }}</td>
                  <td>{{ film.adult }}</td>
                  <td>{{ film.american }}</td>
                  <td>{{ film.streaming_service }}</td>
                  <td>{{ film.duration }}</td>
               </tr>
            {% endfor %}
         </tbody>
      </table>
      <br>
      {% if show_adult %}
      <form action="http://127.0.0.1:5000/no-adult">
         <input type="submit" value="Hide Adult Films" />
      </form>

      {% else %}
      <form action="http://127.0.0.1:5000">
         <input type="submit" value="Show Adult Films" />
      </form>

      {% endif %}

   </body>
</html>